#searchForm {
  margin-top: 20px
}

#row-contain-table {
  margin-top: 70px
}

#minmax-row {
  margin-top: 50px
}

#minmax-table {
  background-color: #3498db;
}

#only-btn {
  margin-top: 20px;
  margin-bottom: 40px;
}
